button {
    height: 80px;
    width: 120px;
    background-color: aqua;
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

button:hover {
    filter: drop-shadow(10px 10px 2px gray);
}